<%- include('../../partials/dashboard-head') %>
    <%- include('../../partials/dashboard-nav') %>
        <h3 class="text-dark mb-4" id="text-profile">Add Coffee:</h3>
        <div class="row mb-3">
            <div class="col-lg-4">
                <div class="card mb-3">
                    <div class="card-body text-center shadow"><img class="rounded-circle mb-3 mt-4"
                            src="dogs/image2.jpeg" width="160" height="160" />
                        <div class="mb-3"><button class="btn btn-primary btn-sm" type="button">Change Photo</button>
                        </div>
                    </div>
                </div>
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="text-primary fw-bold m-0">Availability</h6>
                    </div>
                    <div class="card-body">
                        <div class="card mb-3">
                        <form action="/suppliers/coffees" method="POST">
                        <label class="form-label" for="available"><strong>Available for sale:</strong></label>
                        <select class="form-select" name="available">
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                        </select>
                        </div>
                        <div class="card mb-3">
                        <label class="form-label" for="quantity"><strong>Quantity Available:</strong></label>
                        <input class="form-control" type="number" placeholder="Weight in lbs." name="quantity"/>                           
                        </div>
                        <div class="card mb-3">
                                <label class="form-label" for="price"><strong>Price per pound:</strong></label>
                                <input class="form-control" type="number" placeholder="USD per pound." name="price"/>
                                    
                        </div>
                    </div>
                </div>
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="text-primary fw-bold m-0">Origin Details</h6>
                    </div>
                    <div class="card-body">
                        <div class="card mb-3">
                        <label class="form-label" for="farm"><strong>Farm</strong></label>
                        <select class="form-select" name="farm">
                            <% if (supplier.farms.length > 0) { %> 
                                <% supplier.farms.forEach(farm =>{ %> 
                                    <option value="<%- farm.name %>"><%- farm.name %></option>                                        
                                <% }) %> 
                            <% } %>            
                        </select>
                        </div>


                        <div class="card mb-3">
                            <label class="form-label" for="country"><strong>Country</strong></label>
                        <input class="form-control" id="country-disabled" type="text" name="country"
                        <% if (supplier.country) { %> 
                            value="<%- supplier.country %>"
                        <% } %>                        
                        readonly/>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col">
                        <div class="card shadow mb-3">
                            <div class="card-header py-3">
                                <p class="text-primary m-0 fw-bold">Coffee Information</p>
                            </div>
                            <div class="card-body">
                                    <div class="row">
                                        <div class="mb-3">
                                            <label class="form-label" for="name"><strong>Name</strong></label>
                                            <input class="form-control" type="text" placeholder="Name" name="name" 
                                            value=""
                                                />
                                                
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label" for="notes"><strong>Notes</strong></label>
                                        <input class="form-control" type="text" placeholder="Notes" name="notes" 
                                        />
                                            
                                    </div>
                                    <div class="card mb-3">
                        <label class="form-label" for="process"><strong>Process</strong></label>
                        <select class="form-select" name="process">
                            <option value="Washed">Washed</option>
                            <option value="Natural">Natural</option>
                            <option value="Honey">Honey</option>
                            <option value="Other">Other</option>
                        </select>
                        </div>
                        <div class="card mb-3">
                        <label class="form-label" for="variety"><strong>Variety</strong></label>
                        <select class="form-select" name="variety">
                            <option value="Blend">Blend</option>
                            <option value="Caturra">Caturra</option>
                            <option value="Catuai">Catuai</option>
                            <option value="Gesha">Gesha</option>
                            <option value="Maragogype">Maragogype</option>
                            <option value="Bourbon">Bourbon</option>
                            <option value="Bourbon, Pink">Bourbon, Pink</option>
                            <option value="Exotic/Other">Exotic/Other</option>                      
                        </select>
                        </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="mb-3">
                                                <label class="form-label" for="harvest">
                                                    <strong>Harvest Date</strong></label>
                                                <input class="form-control" type="date"
                                                    name="harvest" 
                                                />    
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="mb-3"><label class="form-label" for="altitude"><strong>Altitude (meters)</strong></label><input 
                                                    class="form-control" type="number" placeholder="Altitude in meters"
                                                    name="altitude"></div>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <button class="btn btn-primary btn-sm" type="submit">Save Settings
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <%- include('../../partials/dashboard-footer') %>